/* .navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

li a{
    font-size: 20px;
}
a:hover{
    font-size: 20px;
    background-color: #FFFFFF;
    color:#22AD4C;
}

summary{
    font-size: 20px;
}
